@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #FAFAFA;
}
.list {
    @apply flex justify-start w-full space-x-4 cursor-pointer;
}
.item {
    margin-right: 15px;
}
.btn-confirm {
    @apply xl:text-lg text-xs uppercase border border-solid border-[#333333] w-[30%] flex items-center justify-center rounded-lg bg-[#333333]  font-poppins font-bold text-[#F2F2F2]
}
.btn-confirm:disabled {
    @apply bg-opacity-40 border-none
}
.btn-confirmated {
    @apply xl:text-lg text-xs uppercase border border-solid border-[#219653] w-[30%] flex items-center justify-center rounded-lg bg-[#219653]  font-poppins font-bold text-[#F2F2F2]
}
.output {
    @apply border border-solid border-black disabled:cursor-not-allowed h-12 w-[70%] rounded-lg px-4 placeholder:font-poppins
}
.footer{
    position: relative;
    left: 0;
    bottom: 0;
  }
.home {
    height: calc(100% - 60px);
}